* {background-color: peachpuff
}

body {
    background-color: aquamarine;
}

.header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

nav {

}

.About-Me {

}

.My-Work {

}

.Contact {
    
}