body {
    background-image: url("../Images/cool-geometric-triangular-figure-neon-laser-light-great-backgrounds-wallpapers.jpg"); 
    background-size: cover;
}

.header {
    
}

nav {

}

.About-Me {

}

.My-Work {

}

.Contact {
    
}

.logo-div {
    display: flex; 
}